@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --accent-color: #00ffff;
    --answer-btn-color: linear-gradient(180deg, #d20094, #900080);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 3rem 2rem;
}

#logo-img img {
    width: 20%;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#question {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    width: 90vw;
    text-align: center;
    padding-bottom: 3rem;
}

#answers-ctn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    width: 80vw;
}

.answer-btn {
    margin: 20px 10px;
    width: 500px;
    height: 100px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    border: 3px solid transparent;
    border-radius: 50px;
    background: url('../assets/bg.jpg') padding-box fixed,
        linear-gradient(180deg, #ffffff 0%, rgba(128, 128, 128, 0.243) 100%)
            border-box;
    background-size: cover;
}

.answer-btn:hover {
    border: 2px solid transparent;
    background: linear-gradient(180deg, #d20094, #900080) padding-box fixed,
        linear-gradient(0deg, #d20094, #ffffff) border-box;
}

.result {
    font-size: 3rem;
    margin-bottom: 200px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1.4rem;
}

#question-num {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.purple-text {
    color: #d20094;
}

/* PROGRESS BAR TIMER */
.progress {
    position: relative;
    height: 160px;
    width: 160px;
    cursor: pointer;
    margin-right: 50px;
}

.progress-circle {
    transform: rotate(-90deg);
    margin-top: -40px;
}

.progress-circle-back {
    fill: none;
    stroke: #900080;
    stroke-width: 10px;
}

.progress-circle-prog {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 10px;
    stroke-dasharray: 0 999;
    stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.4s linear 0s;
}

/* Timer dentro alla Progress Bar */
#timer {
    left: 40px;
    top: 32px;
    font-size: 14px;
    position: absolute;
    text-align: center;
}

#timer-span {
    display: block;
    font-size: 48px;
    font-weight: 700;
}

/* Classe hidden per nascondere gli elementi
che non ci interessano dopo aver completato il quiz */
.hidden {
    display: none;
}
